<div class="w-100 mt2">
  <app-test-case
    [testCase]="testCase"
    [name]="testCase.name"
    [description]="testCase.description"
    [categoryId]="testCase.category.id"
    [editMode]="editMode"
    [categories]="categories"
  >
    <app-action-buttons class="fr"
      [editMode]="editMode"
      (cancelEvent)="cancelTestCase()"
      (deleteEvent)="deleteTestCase()"
      (editEvent)="editTestCase()"
      (saveEvent)="saveTestCase()"
    >
    </app-action-buttons>
  </app-test-case>
</div>
