<div class="filter f4 pv3 mb3">
  <div class="w-10 i dib tr">Filter:</div>
  <div class="w-30 dib">
    <input type="text" maxlength="10" class="f5 w-80 ph2" [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
  </div>
  <div *ngIf="showDropDown" class="w-50 dib">
    <div class="w-40 i dib tr">{{itemName}}:</div>
    <select class="f5 w-20 dib ph1" [(ngModel)]="selectedOption" (ngModelChange)="applyFilter()">
      <option [ngValue]="emptyOption"></option>
      <option *ngFor="let item of items" [ngValue]="item">{{item.name}}</option>
    </select>
  </div>
</div>
