div {
  width: 16px;
  height: 16px;
}

.cancel {
  background-image: url("../../../assets/left-arrow.png");
}

.delete {
  background-image: url("../../../assets/rubbish-bin.png");
}

.edit {
  background-image: url("../../../assets/pencil-outline.png");
}

.save {
  background-image: url("../../../assets/check-mark.png");
}


