.test-case-list {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.test-case-category {
  color: #b0aac2;
}

.test-case-details {
  background-color: #dbe9d8;
}

.test-case-details:hover {
  background-color: #f2efe8;
}

.test-case-number {
  background-color: #b0aac2;
  color: darkslategray;
}

.test-case-name {
  color: darkslategray;
}
