<div class="w-50 pl3 mt3">
  <div class="title f3 mb3">Test Suites</div>
  <app-filter-common
    [items]=categories
    [showDropDown]=false
    (onFiltered)="applyFilter($event)">
  </app-filter-common>
  <div class="test-suite-list">
    <div *ngFor="let testSuite of testSuites" class="items mb2">
      <div class="w-100 f4 dib">
        <a [routerLink]="['/testsuite', testSuite.id]" class ="no-underline">
          <div class="w-10 dib"></div>
          <div class="pa2 test-suite-name pa1 w-50 dib">{{ testSuite.name }}</div>
          <div class="item-detail-prop f5 pa1 w-20 dib">Test Cases: {{ testSuite.testCases.length }}</div>
        </a>
      </div>
    </div>
  </div>
  <app-new-item-common [itemPath]=itemPath></app-new-item-common>
</div>
