<div class="w-33 pl3 mt3 dib v-top">
  <div class="title f3 mb3">Test Suite Detail</div>
  <form class="test-suite-form f4 pa3" [formGroup]="testSuiteForm">
    <div class="pt1">
      <label for="testCaseName" class="w-20 i tr dib">Name:</label>
      <input id="testCaseName" class="w-60 f5 ph2" formControlName="name">
    </div>
    <div class="f6 mb1 pa2">
      <div class="w-20 dib"></div>
      <div class="light-red w-60 dib">
        <div *ngIf="name.errors && name.errors.required && name.touched">
          This field is required
        </div>
        <div *ngIf="name.errors && name.errors.pattern">
          Invalid
        </div>
      </div>
    </div>
    <div class="test-case-list test-case-container pa3 mb4"
         dnd-droppable [dropZones]="['demo1']">
      <div *ngFor="let testCase of linkedTestCases" class="test-case-items mb2">
          <div class="test-case-number b pa2 br2 w-20 dib">{{ testCase.number }}</div>
          <div class="test-case-name pa1 w-50 dib">{{ testCase.name }}</div>
          <div *ngIf="linkedTestCases.length > 1" class="remove-test-case f5 pv1 w-10 dib tc" (click)="onRemove(testCase)">Remove</div>
      </div>
    </div>
    <div>
      <div class="w-20 dib"></div>
      <a routerLink="/testsuites" routerLinkActive="active" class="route-link no-underline">
        <div class="item-done w-20 dib tc">Done</div>
      </a>
      <div class="w-20 dib"></div>
      <div class="item-save w-20 dib tc" (click)="onSave()">Save</div>
    </div>
  </form>
</div>
<div class="w-33 pl3 mt3 dib v-top">
  <div class="title f3 mb3">Test Case Selector</div>
  <div class="test-case-selector pa2">
    <app-filter-common
      [items]=categories
      [itemName]=itemLabel
      (onFiltered)="applyFilter($event)">
    </app-filter-common>
    <div class="test-cases-dnd test-case-container pa3">
      <div *ngFor="let testCase of filteredTestCases" class="items mb2">
        <div
          class="w-100 f4 dib"
          dnd-draggable
          [dragEnabled]=true
          [dragData]="testCase"
          (onDragSuccess)="linkTestCase($event)"
          [dropZones]="['demo1']"
        >
          <div class="test-case-number b pa2 br2 w-10 dib">{{ testCase.number }}</div>
          <div class="test-case-name pa1 w-50 dib">{{ testCase.name }}</div>
          <div class="item-detail-prop f5 pa1 w-20 dib">{{ testCase.category.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
