<div *ngIf="testExecution" class="test-execution-details w-50 pl3 mt3">
  <div class="title f3 mb3">Test Execution</div>
  <div class="mb2">
    <div class="execution-name f3 dib w-40 pa2">{{ testExecution.name}}</div>
    <div class="execution-name f3 dib w-20 pa2">{{ testExecution.created | date: 'dd/MM/yyyy'}}</div>
    <div class="execution-name f3 dib w-20 pa2">{{ testExecution.environment.name }}</div>
    <app-test-execution-status
      class="dib mr2"
      [testExecution]=testExecution
    >
    </app-test-execution-status>
  </div>
  <div class="test-case-execution-list">
    <div *ngFor="let testCaseExecution of testExecution.testCaseExecutions" class="test-case-executions mb2">
      <div class="w-100 f4 dib">
        <div class="test-case-number b pa2 br2 w-10 dib">{{ testCaseExecution.number }}</div>
        <div class="test-case-name pa1 w-50 dib">{{ testCaseExecution.name }}</div>
        <div class="item-detail-prop f5 pa1 w-20 dib">{{ testCaseExecution.category.name }}</div>
        <div class="test-result f5 pa1 w-10 dib tc mr1 mt1">
          <app-test-result
            [testCaseExecution]=testCaseExecution
            (onStatusChanged)="setResult($event)"
          ></app-test-result>
        </div>
      </div>
    </div>
  </div>
</div>
