<div class="f6 w-100 dib pb3 bb b--mid-gray">
  <div class="w-80 dib">
    <div class="w-10 tr  dib">Search:</div>
    <div class="w-33 dib">
      <input class="mw4" type="text" maxlength="10" [(ngModel)]="searchText" (ngModelChange)="executeSearch()">
    </div>
    <div class="w-33 tr  dib">Category:</div>
    <select class="mw4  dib" [(ngModel)]="selectedCategory" (ngModelChange)="executeSearch()">
      <option [ngValue]="emptyOption"></option>
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>
  </div>
  <div class="newTestCase w-10 dib fr" (click)="onNew()"></div>
</div>
